.Table {
    display: flex;
    height: 70vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.Row {
    display: flex;
    flex-direction: row;
}

.Cell {
    font-size: 24px;
    overflow: hidden;
    height: 50px;
    width: 50px;
    /*border: 1px solid;*/
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    box-shadow: 0 0 1px rgba(0,0,0,0.5);
    color: var(--text_primary)
}
h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.Cell:active {
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    background: dodgerblue;
    color: white;
}

.Btn{
    margin-top: 20px;
    width: 80px;
}
